{{ define "main" }}
<div id="wrapper" class="divided">
  <section id="one" class="banner {{ .Param "bannerStyle" }}">
    <div class="content">
      <h1>{{ .Title }}</h1>
      <p class="major">{{ .Description }}</p>
      <ul class="actions stacked">
        <li><a href="#first" class="button big wide smooth-scroll-middle">Browse</a></li>
      </ul>
    </div>
    {{ partial "content/featured-image" . }}
  </section>
  {{ $paginator := .Paginate (.Data.Pages) -}}
  {{ range $index, $page := $paginator.Pages -}}
    <section class="spotlight style1 {{ cond (eq 0 (mod $index 2)) "orient-right" "orient-left" }} content-align-left image-position-center onscroll-image-fade-in">
      <div class="content">
        <h2>{{ $page.Title }}</h2>
        <p>{{ $page.Description }}</p>
        <ul class="actions stacked">
          <li><a href="{{ $page.Permalink }}" class="button">Read</a></li>
        </ul>
      </div>
      {{ partial "content/featured-image" . }}
    </section>
  {{ end -}}
</div>
{{ end }}
